# Configurações do GitLab
GITLAB_URL=https://seu-gitlab-privado.com.br
GITLAB_TOKEN=seu_token_aqui

# Configurações do GitHub (Local)
# Caminho absoluto para a pasta do repositório que receberá os commits
GITHUB_REPO_PATH=/home/jwcbf-debian/PROJETOS/CODEBASE/gitlab-sync
SINCE_DATE=2026-01-01

# Opcional: Nome da branch de destino (padrão: main)
DESTINATION_BRANCH=main
